@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.custom-map-container .leaflet-top.leaflet-left {
  top: unset;
  bottom: 0;
  left: unset;
  right: 0;
}

.custom-map-container .leaflet-control-zoom {
  margin-bottom: 30px;
  margin-right: 10px;
}

/* Yol tarifi paneli stilleri */
.leaflet-routing-container {
  background: white;
  padding: 10px;
  border-radius: 5px;
  max-height: 200px;
  overflow-y: auto;
  width: 300px;
}

.leaflet-routing-container h3 {
  margin-top: 0;
}

.leaflet-routing-alt {
  display: none;
}

.leaflet-routing-collapse-btn {
  position: absolute;
  top: 5px;
  right: 5px;
}
